version: "3.8"

services:
  hubfly:
    build: .
    container_name: hubfly-reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81" # Management API
      - "82:82" # Management UI & Proxy
      - "30000-30100:30000-30100"
    volumes:
      - hubfly_proxy_data:/etc/hubfly
      - hubfly_proxy_certs:/etc/letsencrypt
      - hubfly_proxy_webroot:/var/www/hubfly
    environment:
      - TZ=UTC
    networks:
      - hubfly-proxy-network

volumes:
  hubfly_proxy_data:
    name: hubfly_proxy_data
  hubfly_proxy_certs:
    name: hubfly_proxy_certs
  hubfly_proxy_webroot:
    name: hubfly_proxy_webroot

networks:
  hubfly-proxy-network:
    name: hubfly-proxy-network
    driver: bridge
