version: "3.8"

services:
  hubfly:
    build: .
    container_name: hubfly
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81" # Management API
      - "30000-30100:30000-30100"
    volumes:
      - hubfly_data:/etc/hubfly
      - certs:/etc/letsencrypt
      - webroot:/var/www/hubfly
    environment:
      - TZ=UTC
    networks:
      - hubfly-proxy-network

volumes:
  hubfly_data:
  certs:
  webroot:

networks:
  hubfly-proxy-network:
    driver: bridge
